<h1>Hi <%=username%>
</h1>
<h2>Activate sso for following websites</h2>
<h2>Youtube</h2>
<h2>Amazon</h2>
<form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Logout</button>
</form>