.container{
    background-color: #FFFFFF;
    max-height: 100vh;
    color: white;
    padding: 0px 20px;
    max-height: 100vh ;
    display: flex ;
    flex-direction: column ;
    overflow-y: scroll 
}

.tokenInfo{
    display: flex ;
    flex-direction: row ;
    position: relative ;
    padding: 0px 0px ;
    margin: auto ;
    align-items: center ;
    justify-content: center ;
    width: 80% ;
    /* height: 50%; */
    /* background-color:green; */
}

.imgContainer{
    display: flex; 
    flex-direction: column; 
    align-items: center
}

.credentialImg{
    height: 450px;
    width: 450px; 
    border-radius: 30px ; 
    background-color: white 
}

.infoContainer{
    width: 100% ;
    display: flex ;
    flex-direction: column ;
    align-items: flex-start ;
    margin-left: 2rem ;
}

.actionContainer{
    display: flex ;  
    flex-direction: row ;  
    border-radius: 10px ;  
    align-items: center ;
    margin-right: 20px;
}

.actionButton{
    border: 1px solid white;
    margin: 10px ;
    border-radius: 10px;
    padding: 10px 
}

a{
    text-decoration: none ;
    color: black ;
    padding: 0px 10px
}