.boxLayout{
    /* background: url('../../images/pexels-pixabay-37072.jpg'); */
    /* background-size: cover;
    background-repeat: no-repeat; */
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.box{
    /* background: rgba(255,255,255,0.7); */
    border-radius: 3px;
    text-align: right;
    width: 100%;
    padding: 2.4rem 1.6rem ;
}

.box button{
    padding:12px 20px;
    font-size: 1.2rem;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    /* border: 0px solid transparent; */
}