.tile{
    /* background-color: var(--black); */
    padding:0.2rem;
    margin:0.2rem;
    height:8vh;
}

.link{
    width: 80%;
 display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}


.expenseTile:hover{
    transition: 0.2s all ease-in-out ;
    background-color: black;
    color: white;
}