.Card{
    background-color: #02F9A7;
    padding: 3rem;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.cardImage{
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

.cardText{
    color:'black'
}

body{
    margin: 0;
}