#expenseForm{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input{
    width:40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.note{
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.submitButton{
    width: 40%;
    color: white;
    background-color: var(--blue);
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.amountInput{
    width:40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.currencyInput{
    width: 60%;
    /* color: black; */
    /* background-color: var(--blue); */
    display: inline-block;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.valueInput{
   width:70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}